.container{
    background-color: var(--clr-neutral-card);
    border-radius: 0.7rem;
    display: flex;
    font-family: var(--ff-primary);
    flex-direction: column;
    max-width: 28.125rem;
    min-width: 14.68rem;
    margin: 3.125rem 1.5rem;
    vertical-align: center;
}

.card{
    border-radius: 0.7rem;
    margin: 8%;
}

.equilibrium{
    border-radius: 0.7rem;
}

.title{
    color: var(--clr-neutral-white);
    margin: 6% 0;
}

.content{
    color: var(--clr-primary-soft-blue);
    font-weight: 300;
    line-height: 1.5rem;
    margin: 5% 0;
}

.data{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.left{
    color: var(--clr-primary-cyan);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    margin: 4% 0;
    width: 50%;
}

.ethereum{
    margin-right: 0.5rem;
}

.right{
    color: var(--clr-primary-soft-blue);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    margin: 4% 0;
    justify-content: end;
    width: 50%;
}

.clock{
    height: 100%;
    margin-right: 0.5rem;
    width: 1rem;
}

.line{
    border: 0.5px solid var(--clr-neutral-line);
}

.avatar-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar{
    height: 50px;
    width: 50px;
}