:root {
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  --clr-neutral-main: hsl(217, 54%, 11%);
  --clr-neutral-card: hsl(216, 50%, 16%);
  --clr-neutral-line: hsl(215, 32%, 27%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-primary: "Outfit";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--clr-neutral-main);
  font-size: 1.125rem;
  min-width: 320px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.app {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
